.red{
    color: red;
}

div {
    height: 87%;
    overflow: auto;
}

input {
    height:30px;
    width: 500px;
    display: inline-block;
}

form {
    height: 100%;
    overflow: auto;
}

.img1{
    width: 90px;
    height: 60px;
}